/* Universal */
/* Header styles */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
}

/* Body typography */
h2, p, #text-to-translate, #language-to-translate {
    font-family: Arial, Helvetica, sans-serif;
}

/* Component styling */
#text-to-translate, #language-to-translate {
    font-size: 1.2em;
    padding: 0.5em;
}

/* H2 styling */
h2 {
    color: #035A9D;
    margin: 0 0 1vh 0;
}

/* Page styles */
/* Banner container */
#banner {
    background: no-repeat url("assets/worldmap.png");
    background-size: cover;
}

/* Logo container */
#logo {
    padding: 4em 2em;
    display: flex;
    justify-content: center;
}

/* Logo image */
#logo img {
    height: 10vh;
    margin-right: 1em;
}

/* Logo text container */
#logo-text {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

/* App name text */
#logo-text h1 {
    margin: 0 0 0 0;
    font-size: 2.5em;
    font-weight: bold;
    color:#32CD32;
}

/* App description text */
#logo-text p {
    margin: 0;
    font-size: 1.5em;
    color: #FFFFFF;
}

/* Content container */
#body {
    display:flex;
    flex-direction: column;
    padding: 4vh 4vw;
}

/* Text area styling */
#text-to-translate {
    margin:0 0 3vh 0;
    border-radius: 6px;
}

/* Language dropdown stlying */
#language-to-translate {
    margin:0 0 3vh 0;
    min-height: 48px;
    min-width: 100%;
    border-radius: 6px;
}

/* Translate button style */
#translate-button {
    background-color: #035A9D;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    min-height: 48px;
    min-width: 100%;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

#translate-button:hover {
    background-color: #004173;
    transition: 0.3s;
}

#translate-button:focus {
    background-color: #004173;
    outline-color: #003258;
    transition: 0.3s;
}

#translate-button:active {
    background-color: #000a11;
    transition: 0.3s;
}

